@model RecipeIngredientModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="IngredientName" class="control-label"></label>
            <input asp-for="IngredientName" class="form-control" />
            <span asp-validation-for="IngredientName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="IngredientAmount" class="control-label"></label>
            <input asp-for="IngredientAmount" class="form-control" />
            <span asp-validation-for="IngredientAmount" class="text-danger"></span>
        </div>
    </div>
</div>